.json {
    min-width: 350px;
    min-height: 600px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}
.container {
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
}

/* .json {
    background-color: inherit;
} */